*
{   
  
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}
button:hover
{
  transform: scale(1.1);
  box-shadow: 0px -2px 20px 5px #ff0000;
  letter-spacing: 2px;  
}

input
{
  border: none;
  background-color: white;
  outline: none;
  grid-area: input;
}
input:focus
{
  border: solid 2px #1DB954;
  box-shadow: 0px -2px 20px 5px #1DB954;
}

.tittle
{
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;  
  
}

.losChicos
{  
  font-size: 2em;
  overflow: hidden;
  font-family: 'Dancing Script', cursive;  
  animation-duration: 2s;
  animation-name: girar;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
 
}

.buttons
{
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons button 
{  
  background-color: #FF0000;
  border: none;
  margin: 15px;
  padding: 10px;

}

.home-btn
{
  margin: 25px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 200px;
  background-color: #FF0000;
  border: none;
  cursor: pointer;
}

.inputField
{
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  color: #4f4f4f;
}

.submit-btn
{
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  background-color: #FF0000;
  border: none;
  cursor: pointer;
}

.error-msj
{
  margin: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: red;
  text-shadow: 0px 0px 20px red;
}
.letters
{
  background: transparent;
  border: transparent;
  position: relative;
  transition: .2s linear;
}


.letters:hover
{
  animation-duration: 2s;
  animation-name: girar;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  
}

@keyframes girar {
  0%{    
    color: #adff2f;
    text-shadow: 0px 0px 20px #adff2f;
  }
  25%
  {
    color: blueviolet;    
    text-shadow: 0px 0px 20px blueviolet;
  }
  50%{
    color: hotpink;    
    text-shadow: 0px 0px 20px hotpink;
  }
  100%{
    color: aqua;
    text-shadow: 0px 0px 20px aqua;
  }
  
}

@media only screen and (max-width:900px){
  h1
  {
    font-size: 2em;  
  }
  .losChicos
  {
    font-size: 1.5em;
    display: block;
  }
  .buttons
  {
    display: block;
  }
}